body{
    background-color: #f0e68c;
    margin: 0;
}

.header1{
    font-family: Georgia;
    text-align: center;
    font-size: 16px;
    height: 100px;
    padding-top: 10px;
    color: white;
    background-color: green;
    overflow: auto;
}

.wrapper{
    background-color: #f1f68c;
    font-family: Times New Roman;
    text-align:justify;
    font-size:23px;
    margin: auto;
    text-decoration: none;
    width: 820px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
    overflow: auto;
}

.lista{
    padding-left: 20px;
}

ol li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    width: 944px;
    height: 100px;
    background-color: green;
    padding-top: 10px;
    padding-right: 16px;
    margin: auto;
    overflow:auto;
}

.footer p{
    font-size: 16px;
    color: white;
    text-align: right;
    font-family: georgia;
}

.capitoli{
    width: 820px;
    height: 75px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 70px;
    padding-left: 70px;
    margin: auto;
    background-color: white;
    text-align: center;
    font-family: Georgia;
    color:red;
    overflow: auto;
}

a:link{
    color:green;
}

a:hover {
    color:#1E90FF;
}




/* gestione stile delle foto */

img#collage{
    float: right;
    border-radius: 20px;
}



.posizioneimg {
    display: flex;
    flex-wrap: wrap;
}

.posizioneimg div{
    margin: 5px;
}

.posizioneimg img{
    border-radius: 10px;
}






/* gestione stile barra navigazione */

.nav {
    margin:auto;
    width:960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
    overflow: auto;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.nav li {
    float: left;
}


.nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}


.nav a.active {
    background-color: #4CAF50;
    color: white;
}


.nav a:hover {
    background-color: #ddd;
    color: black;
}






/* pulsante VEDI ALTRI MONUMENTI e sua gestione */

.sovrapposizione {
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.9) ;
    overflow: auto;
    transition: 0.7s;
}

.sovrapposizione a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sovrapposizione a:hover, .sovrapposizione a:focus {
    color: #f1f1f1;
}

.sovrapposizione .chiusuraNav {
    position: absolute;
    top: 10px; 
    right: 45px;
    font-size: 50px;
}

.sovrapposizione-cont {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}